<button (click)="download()">Download </button>

<style>
  .pdfpage {
    background-color: white;
    color:brown;
  }
  </style>

<div #rootDataContainer style="background-color: white;  ">

  <!--The content below is only a placeholder and can be replaced.-->


  <div class="pdfpage">
    <div style="border:1px; border-style:solid; width:500px;height:200px;">
      Page 1 President Trump suggested Sunday, after another underground nuclear test by North Korea, that he’ll halt trade with
      any country doing business with the rogue nation, after Treasury Secretary Steve Mnuchin said he is drafting a sanctions
      package that would end “all trade" with North Korea. “The United States is considering, in addition to other options,
      stopping all trade with any country doing business with North Korea,” tweeted Trump, in response to the regime of Kim
      Jong Un claiming to have detonated a hydrogen bomb underground.
    </div>
  </div>


  <div class="pdfpage">
    <div style="border:1px; border-style:solid; width:500px;height:200px;">

      Page 2 Test page one

    </div>
  </div>

  <div class="pdfpage">
    <div style="border:1px; border-style:solid; width:500px;height:200px;">

      Page 3 Test page one
    </div>
  </div>
  <div class="pdfpage">
    <div style="border:1px; border-style:solid; width:500px;height:200px;">

      Page 4 Test page one
    </div>
  </div>

  <div class="pdfpage">
    <div style="border:1px; border-style:solid; width:500px;height:200px;">

      Page 5
    </div>
  </div>
  <div class="pdfpage">
    <div style="border:1px; border-style:solid; width:500px;height:200px;">

      Page 6
    </div>

  </div>
  <div class="pdfpage">
    <div style="border:1px; border-style:solid; width:500px;height:200px;">

      Page 7
    </div>
  </div>

  <div class="pdfpage">
    <div style="border:1px; border-style:solid; width:500px;height:200px;">
      page 8
    </div>
  </div>
</div>
